.monday-alert-banner {
    position: absolute;
}
.monday-style-tooltip-success{
    background-color: #FEDB39;
    color: black !important;
    width: 254px;
}
.monday-style-tooltip-success, .monday-style-tooltip-arrow.monday-style-arrow-success {
    background-color: #FEDB39 !important;
}
#overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250, 247, 247, 0.5);
    z-index: 2;
    cursor: pointer;
}

